<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>     
    <body>
	<h2>den-gon</h2> <br>   
        <table border="1">
            <form action="list" method="GET">
                <tr>
                    <td>To:</td
                    ><td><input type="text" name="nameTo"></input></td>
                </tr>     
                <tr>
                    <td>From:</td>
                    <td><input type="text" name="nameFrom"></input></td>
                </tr>     
                <tr>
                    <td><input type="submit" value="register"></input></td>
                </tr>     
            </form>     
        </table>     
    </body>     
</html>