{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DEN-GON</title>
	<!-- BootstrapのCSS読み込み -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static './image/favicon.ico' %}" type="image/vnd.microsoft.icon">
</head>
<body>
	<!-- navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">DEN-GON</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">伝言受付</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./list">伝言一覧</a>
                </li>
            </ul>
        </div>
    </nav>  
	{% if error == 1 %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			Toを入力してください
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-sm-6 mx-auto text-center"><h4>伝言受付</h4></div>
	</div>
	<!-- form -->
	<div class="container bg-light">
		<form action="list" method="POST">{% csrf_token %}
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 mx-auto mt-2"><label>To</label></div>
				</div>
				<div class="row">
					<div class="col-sm-6 mx-auto"><input type="text" class="form-control" name="nameTo" placeholder="To名前"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 mx-auto"><label>From</label></div>
				</div>
				<div class="row">
					<div class="col-sm-6 mx-auto"><input type="text" class="form-control" name="nameFrom" placeholder="From名前"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 mx-auto"><label>受付</label></div>
				</div>
				<div class="row">
					<div class="col-sm-6 mx-auto"><input type="text" class="form-control" name="nameTakenBy" placeholder="受付"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 mx-auto"><label>日付</label></div>
				</div>
				<div class="row">
					<div class="col-sm-6 mx-auto"><input type="date" class="form-control" name="date" placeholder="日付"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 mx-auto"><label>時間</label></div>
				</div>
				<div class="row">
					<div class="col-sm-3 offset-sm-3">
						<select class="form-control" name="hours">
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
						</select>
					</div>
					<div class="col-sm-3">
						<select class="form-control" name="minutes">
							<option value="00">00</option>
							<option value="05">05</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
							<option value="25">25</option>
							<option value="30">30</option>
							<option value="35">35</option>
							<option value="40">40</option>
							<option value="45">45</option>
							<option value="50">50</option>
							<option value="55">55</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-3 offset-sm-3"><label><input type="radio" name="requirement" value="0" checked>電話がありました</label></div>
				</div>
				<div class="row">
					<div class="col-sm-3 offset-sm-3"><label><input type="radio" name="requirement" value="1">また電話します</label></div>
				</div>
				<div class="row">
					<div class="col-sm-3 offset-sm-3"><label><input type="radio" name="requirement" value="2">先方へ電話してください</label></div>
					<div class="col-sm-3"><input type="text" class="form-control" name="phoneNumber" placeholder="TEL"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 mx-auto"><label for="message">メッセージ</label></div>
				</div>
				<div class="row">
					<div class="col-sm-6 mx-auto"><textarea class="form-control" name="message" rows="3" placeholder="メッセージ"></textarea></div>
				</div>
			</div>
			<div class="row">
				<input type="hidden" name="input" value="input">
				<div class="col-sm-6 mx-auto text-center mb-4"><input type="submit" class="btn btn-primary btn-md" value="登録"></div>
			</div>
		</form>
	</div>
</body>
</html>