{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DEN-GON</title>
	<!-- BootstrapのCSS読み込み -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4-toggle.min.css' %}">
    <script src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
</head>
<body>
	<!-- navigation -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-info mb-3">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">DEN-GON</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item">
				<a class="nav-link" href="./">伝言受付</a>
				</li>
				<li class="nav-item">
				<a class="nav-link active" href="./list">伝言一覧</a>
				</li>
	    	</ul>
		</div>
    </nav>

	<div class="containert">
		<div class="row">
		<div class="col-sm-6 mx-auto text-center"><h4>伝言一覧</h4></div>
		</div>
	</div>
	
	<div class="container bg-light mb-3">

		<div class="row">
			<div class="col-sm-6 mx-auto"><span class="label label-default">To</span></div>
		</div>
		<div class="row">
			<div class="col-sm-6 mx-auto mb-4"><input type="text" class="form-control" name="wk.nameTo" placeholder="To名前"></div>
		</div>
		<div class="row">
			<div class="col-sm-6 mx-auto"><span class="label label-default">受付</span></div>
		</div>
		<div class="row">
			<div class="col-sm-6 mx-auto mb-4"><input type="text" class="form-control" name="wk.nameTo" wk.nameTakenBy="受付名前"></div>
		</div>
		<div class="row">
			<div class="col-sm-6 mx-auto"><span class="label label-default">日付</span></div>
		</div>
		<div class="row">
			<div class="col-sm-6 mx-auto mb-4"><input type="date" class="form-control" name="wk.dateTime" wk.nameTakenBy="日付"></div>
		</div>
		<div class="row">
			<div class="col-sm-6 mx-auto"><span class="label label-default">伝言確認</span></div>
		</div>

		<div class="radio col-sm-6 mx-auto ">
			<label><input type="radio" name="radio" id="wk.mess.conf.yes" value="wk.mess.conf.yes" checked=""> 未</label>
		</div>

		<div class="radio col-sm-6 mx-auto">
			<label><input type="radio" name="radio" id="wk.mess.conf.no" value="wk.mess.conf.no"> 済</label>
		</div>

		<div class="row"> 
			<div class="col-sm-6 mx-auto text-center mb-4"><input type="submit" class="btn btn-primary btn-md" value="検索"></input></div>
		</div>
	</div>


	<div class="container">
		<table class="table">
	                <thead>
	                <tr class="bg-info">
	                    <td>時間</td>
	                    <td>To</td>
	                    <td>From</td>
	                    <td>受付</td>
	                    <td>用件</td>
	                    <td>伝言確認</td>
	                </tr>
	                </thead>

	                <tbody>
	                <script type="text/javascript">
				    $(function () {
				      $('[data-toggle="tooltip"]').tooltip();
				    })
				</script>
	                {% for entity in entities %}
	                <form action="update_task" method="POST">{% csrf_token %}
	                    <tr>
	                        <!-- 時間 -->
	                        <td>{{entity.dateTime}} <input type="hidden" name='dateTime' value="{{entity.dateTime}}"></td>
	                        <!-- To -->
	                        <td>{{entity.nameTo}} <input type="hidden" name='nameTo' value="{{entity.nameTo}}"></td>
	                        <!-- From -->
	                        <td>{{entity.nameFrom}} <input type="hidden" name='nameFrom' value="{{entity.nameFrom}}"></td>
	                        <!-- 受付 -->
	                        <td>{{entity.nameTakenBy}} <input type="hidden" name='nameTakenBy' value="{{entity.nameTakenBy}}"></td>
	                        <!-- 用件 -->
	                         {% if entity.requirement == '0' %}
                        	<td width="30%" align=center>
                        		{% if entity.message == '' %}
	                        	電話がありました
	                        	{% else %}
	                        	<span class="text-primary"  data-original-title="{{entity.message}}" data-toggle="tooltip">電話がありました</span>
	                        	{% endif %}
	                        </td>
                        {% elif entity.requirement == '1' %}
                        	<td width="30%" align=center>
                        		{% if entity.message == '' %}
                        		また電話します
                        		{% else %}
                        		<span class="text-primary"  data-original-title="{{entity.message}}" data-toggle="tooltip">また電話します</span>
                        		{% endif %}
                        	</td>
                        {% else %}
                        	<td width="30%" align=center>
                        		{% if entity.message == '' %}
                        		先方へ電話してください
                        		{% else %}
                        		<span class="text-primary"  data-original-title="{{entity.message}}" data-toggle="tooltip">先方へ電話してください</span>
                        		{% endif %}
                        	</td>
                        {% endif %}
	                        <!-- 伝言確認 -->
	                        <td>
	                        <div class="checkbox">
        						<label>
        							<input type="checkbox" checked data-toggle="toggle" id="{{ entity.id }}" data-onstyle="info" data-on="未" data-off="済">
        						</label>
    						</div>	                       
	                        </td>
	                    </tr>
	                </form>     
	                {% endfor %}
	                </tbody>
		</table>
	</div>
</body>
</html>